<div class="container-fruid">
  <div class="row">

    <!-- 自身のユーザー情報を表示するサイドバー -->
    <%= render 'public/users/login_user_sidebar', obj: @user %>

    <!-- 登録ユーザー全体の投稿一覧を表示 -->
    <div class="col-6 offset-1 mt-4">
      <div class="container">
        <div class="row mb-3">
          <div class="col">
            <h5><みんなの投稿></h5>
          </div>
        </div>
        <%= render 'public/posts/posts_index', obj: @posts 
      </div>
    </div>

  </div>
</div>