<div class="nested-fields">
  <div class="row mb-3">
    <div class="col">
      <%= f.text_field :ingredient, placeholder: "材料名（例：にんじん）", class: "form-control border-secondary" %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <%= f.text_field :amount,  placeholder: "分量（例：100g、1/2切）", class: "form-control border-secondary" %>
    </div>
  </div>
  <%= link_to_remove_association "削除", f, class: "remove-btn" %>
</div>