// @use '~bootstrap/scss/bootstrap';

@charset "UTF-8";
@import "top";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  background-attachment: fixed;
  z-index: 1;
  pointer-events: none;
}

main, header, footer {
  position: relative;
  z-index: 2;
}

.logo {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px !important;
  margin-left: 30px;
}

.top_text {
  font-family: "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
}

.top_text button {
  width: 150px;
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
}

.template_button {
  border-radius: 5px;
}

.template_button_red {
  background: #FFEEFF;
  border: 1px solid #FF88FF;
}

.template_button_yellow {
  background: #FFFFDD;
  border: 1px solid #FFFF77;
}

.template_button_blue {
  background: #EEFFFF;
  border: 1px solid #88FFFF;
}