<div class="container">
  <div class="row mt-3 mb-4">
    <div class="col">
      <h5><お問い合わせ></h5>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <h5>
        ありがとうございます。お問い合わせの受付が完了いたしました。<br>
        <br>
        お問い合わせいただいた内容は確認後、返信を要する場合は3営業日以内に担当者よりご連絡させていただきます。いましばらくお待ちください。
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to root_path do %>
        <button class="btn btn-outline-dark">トップページへ戻る</button>
      <% end %>
    </div>
  </div>
</div>