<div class="container justify-content-center">
  <div class="row my-5">
    <div class="col">
      <h5 class="text-center">
        アカウントを削除してもよろしいでしょうか。<br>
        一度削除したアカウントは復元できません。ご確認のうえ、削除する場合は以下のボタンをクリックしてください。
      </h5>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <%= link_to user_path(@user.id), method: :delete do %>
        <button class="btn btn-danger">アカウントを削除する</button>
      <% end %>
    </div>
  </div>
</div>